<div class="container">
  <div class="row">
    <div class="col-6 col-sm-12 col-xl-6 col-md-12 container-txt">
      <h2 class="title-page">Conduce el auto de tus sueños.</h2>
      <p class="txt-desc-page">Tenemos para ti un plan de arrendamiento de auto seminuevo a precio preferencial y con el
        maximo
        beneficio fiscal que la ley permite</p>
    </div>
    <div class="col-6 col-sm-12 col-xl-6 col-md-12">
      <div class="card crd-form">
        <div class="card-body">
          <h2 class="title-form">Solicita una cotización</h2>
          <p>Tu cotización esta en camino</p>
          <div class="container m-top">
            <div class="container-btn">
              <div class="row">
                <div class="col-12">
                  <button class="btn btn-primary btn-b" (click)="back()">Regresar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>