@font-face {
    font-family: "Montserrat-Regular";
    src: url("../../assets/fonts/montserrat/Montserrat-Regular.ttf");
  }

  $colorNegro: #282828;
  $colorGris: #f5f7fa;
  $colorBlanco: #fff;
  $colorMorado: #8710BE;
  $colorRojo: rgb(255, 0, 0, 0.5);