@import "../../utils/global-styles.scss";

.m-top {
  margin-top: 20px;
}

h2 {
  color: $colorMorado;
  font-weight: 700;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
}

.title-page {
  color: $colorNegro;
  font-size: 56px;
  font-weight: 700;
  font-family: "Montserrat-Regular", Arial, Helvetica, sans-serif;
}

.txt-desc-page {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

label {
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

.txt-info-desc {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.container-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.btn-b {
  width: 400px;
  height: 50px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
}

.m-bottom {
  margin-bottom: 20px;
}

.title-form {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 20px;
}

// Alerta

.err {
  color: $colorRojo;
}

.alerta {
  margin-top: 20px;
  height: 55px;
  background: $colorRojo;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}

.alerta p {
  color: $colorBlanco;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

@media screen and (max-width: 1200px) {
  .container-txt {
    margin-top: -700px;
  }
}

@media screen and (max-width: 990px) {
  .container-txt {
    margin-top: -800px;
  }
}
